<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if request.user.is_authenticated %}

 
       <span>Welcome {{request.user.username}}!</span>
         <a href="{% url 'meetup-create'%}">Add meetup</a>
         <form action="{% url 'logout'%}" method="POST" >
            {% csrf_token%}
            <button>Logout</button>
         </form>
    {%else%}
<a href="{%url 'login'%}">Login</a>
<a href="{%url 'register'%}">Register</a>
    {%endif%}



    <hr>
    <h1>All meetups</h1>

    <p>Below are the list of meetusp available</p>
 

    <form action="{% url 'home'%}" method="GET">
        {% csrf_token %}
        <input type="search" name="q">
        <button>search</button>


    </form>
    <a href="{% url 'home'%}">Reset</a>

   

<table border="1">
    <tr>
        <th>#</th>
        <th>Organizer name</th>
        <th>title</th>
        <th>email</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for meetup in meetups %}
    <tr>
        <td>{{meetup.id}}</td>
        <td>{{meetup.user.name}}</td>
        <td>{{meetup.title}}</td>
        <td>{{meetup.organizer_email}}</td>
        <td><a href="{% url 'meetup-details' meetup.slug%}">View</a></td>
        <td><a href="{% url 'meetup-update' meetup.id%}">Edit</a></td>
         <td><a href="{% url 'meetup-delete' meetup.id%}">Delete</a></td>
    </tr>

     {% endfor %}

</table>
<span>No of meetups: {{count}}</span>
</body>
</html>